<h1>Sign In</h1>
<form action="/signIn" method="post">
    <p>
        <label>Username:</label><input value="" name="username"/><br />
        <label>TOTP<sup>*</sup>:</label><input value="" name="totp" type="tel"/><br />
        <sup>*</sup><small>TOTP will be available in your app, if you're already logged in in the app.</small><br /><br />
        <button type="submit">Sign In</button>
    </p>
</form>
<form action="/" method="get">
    Not logged in in the app? <button type="submit">Sign Up</button>
</form>