<h1>Sign Up</h1>
<form action="/formSubmit" method="post">
    <p>
        <label>Username:</label><input value="" name="username"/><br />
        <button type="submit">Sign Up</button>
    </p>
</form>
<form action="/signIn" method="get">
    Already have an account? <button type="submit">Sign In</button>
</form>